<!-- Neville Dabre & Moonsun Choi-->
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Designer fashion clothing and accessories for men and women. Searchable by article of clothing or designer's name.</p>
